
@gris:  rgb(228, 225, 225);
@yellow:#ffe208;
@green:#1b5f35;
@red:#e02c0c;

.margenes(@top: 0px, @bottom: 0px){
margin-top: @top;
margin-bottom: @bottom;

}

body{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;    
}
.jumbotron 
{
    border-radius: 0px;
    text-align: left;
    background-color: @yellow;
    .margenes(50px, 15px)
    
    
}
#slider{
background-color: rgb(228, 225, 225);
padding: 10px;
border-radius: 5px;
}
#layout{
   
    display: flex;    
    justify-content: center;
    flex-direction: row; 
    flex-wrap: wrap;    
    padding: 10px;
   
}
#modal{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;

}

#tooltip{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;
    margin-top: 10px;
}

#popover{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;
    margin-top: 10px;
}

.caja{
    flex-grow: 1;
    width: 250px;
    border-radius: 3px;
    justify-content: space-between;
    margin: 4px;
       
}
.btn-leer{

    width: 100%;
    border-radius: 0px;
    background-color: @green;
    border: @green;
    
}
footer{
    padding: 10px 10px 10px 10px;
    background-color: @red;
    .margenes(15px, 0px)
       
    
}
.formulario{

    text-align: start;
    padding: 20px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 3px;
    
}
.tab-content{

    padding-top: 10px;
}