body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center; }

.jumbotron {
  border-radius: 0px;
  text-align: left;
  background-color: #f6fa09;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 20px; }

#slider {
  background-color: #e4e1e1;
  padding: 10px;
  border-radius: 5px; }

#layout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px; }

#modal {
  border: 1px solid #dfdbdb;
  padding: 20px;
  justify-content: start;
  text-align: start; }

#tooltip {
  border: 1px solid #dfdbdb;
  padding: 20px;
  justify-content: start;
  text-align: start;
  margin-top: 10px; }

#popover {
  border: 1px solid #dfdbdb;
  padding: 20px;
  justify-content: start;
  text-align: start;
  margin-top: 10px; }

.caja {
  flex-grow: 1;
  width: 250px;
  border-radius: 3px;
  justify-content: space-between;
  margin: 4px; }

.btn-leer {
  width: 100%;
  border-radius: 0px;
  background-color: #e02c0c;
  border: #e02c0c; }

footer {
  padding: 10px 10px 10px 10px;
  background-color: #1b5f35;
  margin-bottom: 8px;
  margin-top: 35px; }

.formulario {
  text-align: start;
  padding: 20px;
  border: 1px solid #e4e1e1;
  border-radius: 3px; }

.tab-content {
  padding-top: 10px; }
