$gris:  rgb(228, 225, 225);
$yellow:#f6fa09;
$green:#1b5f35;
$red:#e02c0c;

@mixin margenes($top, $bottom){
margin-top: $top;
margin-bottom: $bottom;

}

body{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;    
}
.jumbotron 
{
    border-radius: 0px;
    text-align: left;
    background-color: $yellow;
    margin-top: 50px;
    @include margenes(50px, 20px );
}
#slider{
background-color: rgb(228, 225, 225);
padding: 10px;
border-radius: 5px;
}
#layout{
   
    display: flex;    
    justify-content: center;
    flex-direction: row; 
    flex-wrap: wrap;    
    padding: 10px;
   
}
#modal{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;

}

#tooltip{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;
    margin-top: 10px;
}

#popover{
    border: 1px solid rgb(223, 219, 219);
    padding: 20px;
    justify-content: start;
    text-align: start;
    margin-top: 10px;
}

.caja{
    flex-grow: 1;
    width: 250px;
    border-radius: 3px;
    justify-content: space-between;
    margin: 4px;
       
}
.btn-leer{

    width: 100%;
    border-radius: 0px;
    background-color: $red;
    border:  $red;
    
}
footer{
    padding: 10px 10px 10px 10px;
    background-color: $green;
    margin-bottom: 8px;
    margin-top: 35px;
    
}
.formulario{

    text-align: start;
    padding: 20px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 3px;
    
}
.tab-content{

    padding-top: 10px;
}